 @font-face {
  font-family:"CalligraffittiNash";
  src: url("Calligraffitti-Regular.ttf") format("truetype");
}

.gradiente {
    position: absolute;
    top: 269px;
    left: -50px;
    width: 500px;
    padding-top: 35px;
    font-family: 'CalligraffittiNash';
    background: -webkit-linear-gradient(top,#ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientesombra {
    /* padding-top: 10px; */
    text-shadow: #000000b3 0.1em 0.1em 0.2em;
    font-family: 'CalligraffittiNash';
    background: -webkit-linear-gradient(top,#f6f6f6, #8e8c8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.updater {
    position: fixed;
    height: 100%;
    display: block;
    width: 100%;
    z-index: 99999;
    background: linear-gradient(45deg, #2d326ff5, #382a48);
}

.updater .logo {
    /* background: url('../images/logo.png')no-repeat; */
    /* opacity: 0.8; */
    /* width: 517px; */
    /* height: 94px; */
    /* bottom: 62px; */
    /* position: absolute; */
    /* left: calc(55% - 238px); */
}

.updater .version {
    position: absolute;
    font-family: 'CalligraffittiNash';
    text-align: center;
    width: 100%;
    bottom: 105px;
    color: white;
}

.updater .body {
    position: relative;
    margin: auto;
    width: 400px;
    height: 310px;
    top: calc(50% - 220px);
}

.updater .body .connection {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.updater .body .progression {
    text-align: center;
    color: white;
    font-family: 'CalligraffittiNash';
    font-size: 50px;
}

.updater .body .duck {
    background: url('../images/logosura.png')no-repeat;
    background-size: 400px;
    opacity: 0.8;
    width: 400px;
    height: 284px;
    margin: auto;
}


.updater .body .loader,
.updater .body .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.updater .body .loader {
    height: 36px;
    width: 36px;
    margin: 10px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}